name: CI

on:
  push:
    branches:
      - '**'
    tags:
      - 'v**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: yarn commitlint --from origin/main --to ${GITHUB_SHA} --verbose
      - run: yarn style
      - run: yarn lint
      - run: yarn test
      - run: yarn build
